/*
 * DNJ: star widget style sheet
 * Developed by Daniel Jackson for 6.170.
 */
.star {
  overflow: hidden; /* crucial: this is what makes it work! */
  cursor: pointer;
  float: left;
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -moz-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -ms-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  ) border-box;
  border-radius: 10%;
}
.star {
  width: 70px;
  height: 80px;
  background: url(red.png) no-repeat 50% 50%;
  background-size: 206px 206px;
  margin-left: 10px;
  margin-right: 10px;
}
.star-basic {
  background: url(black.png) no-repeat 50% 50%;
}
.star-on {
  background: url(red.png) no-repeat 50% 50%;
}
.star-hover {
  background: url(red.png) no-repeat 50% 50%;
}
.blank{
  overflow: hidden; /* crucial: this is what makes it work! */
  cursor: pointer;
  float: left;

  background-color: #444444;
  width: 45px;
  height: 80px;
}

.row{
  width: 765px;
  height: 80px;
}

.gap{
  width: 20px;
  height: 80px;
}

body{
  background-color: #444444;
}
